@font-face {
    font-family: icomoon;
    font-style: normal;
    font-weight: 500; /* font-medium -> 500 */
    src: url('./eot/icomoon.eot') format('embedded-opentype'),
    url('./eot/icomoon.eot') format('embedded-opentype');
}

@font-face {
    font-family: icomoon;
    font-style: normal;
    font-weight: 500; /* font-medium -> 500 */
    src: url('./svg/icomoon.svg') format('svg'),
    url('./svg/icomoon.svg') format('svg');
}

@font-face {
    font-family: icomoon;
    font-style: normal;
    font-weight: 500; /* font-medium -> 500 */
    src: url('./ttf/icomoon.ttf') format('truetype'),
    url('./ttf/icomoon.ttf') format('truetype');
}

@font-face {
    font-family: icomoon;
    font-style: normal;
    font-weight: 500; /* font-medium -> 500 */
    src: url('./woff/icomoon.woff') format('woff'),
    url('./woff/icomoon.woff') format('woff');
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e908";
}
.icon-arrow-trend-down_8540344:before {
    content: "\e905";
}
.icon-arrow-trend-up_8540345:before {
    content: "\e906";
}
.icon-chevron_left:before {
    content: "\e907";
}
.icon-Frame-1:before {
    content: "\e909";
}
.icon-Frame-2:before {
    content: "\e90a";
}
.icon-iconamoon_sign-percent-bold:before {
    content: "\e90b";
}
.icon-location_on:before {
    content: "\e90c";
}
.icon-thumbtack_5074129-1-2:before {
    content: "\e90d";
}
.icon-thumbtack_5074261-5:before {
    content: "\e90e";
}
.icon-octicon_plus-16:before {
    content: "\e904";
}
.icon-ep_arrow-left:before {
    content: "\e900";
}
.icon-ep_arrow-left-bold:before {
    content: "\e901";
}
.icon-ep_arrow-right:before {
    content: "\e902";
}
.icon-ep_arrow-right-bold:before {
    content: "\e903";
}