@font-face {
    font-family: icomoon;
    font-style: normal;
    font-weight: 500; /* font-medium -> 500 */
    src: url('./eot/icomoon.eot') format('embedded-opentype'),
    url('./eot/icomoon.eot') format('embedded-opentype');
}

@font-face {
    font-family: icomoon;
    font-style: normal;
    font-weight: 500; /* font-medium -> 500 */
    src: url('./svg/icomoon.svg') format('svg'),
    url('./svg/icomoon.svg') format('svg');
}

@font-face {
    font-family: icomoon;
    font-style: normal;
    font-weight: 500; /* font-medium -> 500 */
    src: url('./ttf/icomoon.ttf') format('truetype'),
    url('./ttf/icomoon.ttf') format('truetype');
}

@font-face {
    font-family: icomoon;
    font-style: normal;
    font-weight: 500; /* font-medium -> 500 */
    src: url('./woff/icomoon.woff') format('woff'),
    url('./woff/icomoon.woff') format('woff');
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ic_baseline-share:before {
    content: "\e911";
}
.icon-chevron-Down1:before {
    content: "\e912";
}
.icon-chevron-up1:before {
    content: "\e913";
}
.icon-mage_phone:before {
    content: "\e914";
}
.icon-chevron-Down:before {
    content: "\e90d";
}
.icon-chevron-up:before {
    content: "\e90e";
}
.icon-phone:before {
    content: "\e90c";
}
.icon-marker-location:before {
    content: "\e90b";
}
.icon-arrow-left .path1:before {
    content: "\e900";
    color: rgb(0, 0, 0);
}
.icon-arrow-left .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-bars-3:before {
    content: "\e902";
}
.icon-chat:before {
    content: "\e903";
}
.icon-check:before {
    content: "\e904";
}
.icon-chevron-LEFT:before {
    content: "\e905";
}
.icon-chevron-right:before {
    content: "\e906";
}
.icon-i-mark:before {
    content: "\e907";
}
.icon-search-01:before {
    content: "\e908";
}
.icon-share:before {
    content: "\e909";
}
.icon-x-mark:before {
    content: "\e90a";
}