@import url('vue3-toastify/dist/index.css');
@import url('../fonts/icons.css');

@tailwind base;

@layer base {
    :root{
        /*gray colors*/
        --theme-gray-50: 249,250,251;
        --theme-gray-100: 243,244,246;
        --theme-gray-200: 229,231,235;
        --theme-gray-300: 209,213,219;
        --theme-gray-400: 156,163,175;
        --theme-gray-500: 107,114,128;
        --theme-gray-600: 75,85,99;
        --theme-gray-700: 55,65,81;
        --theme-gray-800: 31,42,55;
        --theme-gray-900: 17,25,40;

        /* blur colors */
        --theme-primary-50: 235,245,255;
        --theme-primary-100: 225,239,254;
        --theme-primary-200: 195,221,253;
        --theme-primary-300: 164,202,254;
        --theme-primary-400: 118,169,250;
        --theme-primary-500: 63,131,248;
        --theme-primary-600: 28,100,242;
        --theme-primary-700: 26,86,219;
        --theme-primary-750: 5,69,211;
        --theme-primary-800: 30,66,159;
        --theme-primary-900: 35,56,118;
    }

    *, .font-icomoon {
        @apply transition-all duration-150 delay-0 ease-in;
    }

    input[type='text']{
        @apply focus:ring-0 outline-none bg-transparent;
    }
}

@tailwind components;

/* Font IRANSansX */
@layer components {
    /* @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 100;
        src: url('../fonts/woff/IRANSansX-Thin.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-Thin.woff2') format('woff2');
    } */

    /* @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 200;
        src: url('../fonts/woff/IRANSansX-UltraLight.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-UltraLight.woff2') format('woff2');
    } */

    /* @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 300;
        src: url('../fonts/woff/IRANSansX-Light.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-Light.woff2') format('woff2');
    } */

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: normal; /* font-normal -> font-weight: 400; */
        src: url('../fonts/woff/IRANSansX-Regular.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-Regular.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 500; /* font-medium -> font-weight: 500; */
        src: url('../fonts/woff/IRANSansX-Medium.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-Medium.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 600;
        src: url('../fonts/woff/IRANSansX-DemiBold.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-DemiBold.woff2') format('woff2');
    }

    /*@font-face {*/
    /*    font-family: IRANSansX;*/
    /*    font-style: normal;*/
    /*    font-weight: bold;*/
    /*    src: url('../fonts/woff/IRANSansX-Bold.woff') format('woff'),*/
    /*    url('../fonts/woff2/IRANSansX-Bold.woff2') format('woff2');*/
    /*}*/

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 800;
        src: url('../fonts/woff/IRANSansX-ExtraBold.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-ExtraBold.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 900;
        src: url('../fonts/woff/IRANSansX-Black.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-Black.woff2') format('woff2');
    }
}

@layer components {
    .flex_center{
        @apply flex items-center justify-center;
    }

    .flex_between{
        @apply flex items-center justify-between;
    }

    /*custom color components starts */
    /* background colors starts */
    .bg_background_header{
        @apply bg-gray-100 dark:bg-gray-800;
    }
    .bg_gray_50{
        @apply bg-gray-50 dark:bg-gray-700;
    }
    .bg_background_content{
        @apply bg-white dark:bg-gray-900;
    }
    .bg_gray_900{
        @apply bg-gray-900 dark:bg-gray-800;
    }
    .bg_primary_50{
        @apply bg-primary-50 dark:bg-primary-700/25;
    }
    .bg_primary_100{
        @apply bg-primary-100 dark:bg-gray-700;
    }
    .bg_primary_700{
        @apply bg-primary-700 dark:bg-primary-600;
    }
    .hover_bg_primary_750{
        @apply hover:bg-primary-750 dark:hover:bg-primary-500;
    }
    .hover_bg_white{
        @apply hover:bg-white dark:hover:bg-gray-900;
    }
    .hover_bg_white_2{
        @apply hover:bg-white dark:hover:bg-gray-600;
    }
    .hover_bg_gray_50{
        @apply hover:bg-gray-50 dark:hover:bg-gray-800;
    }
    /* background colors ends */

    /* label colors starts */
    .label_primary_600{
        @apply text-primary-600 dark:text-primary-400;
    }
    .hover_label_primary_700{
        @apply hover:text-primary-700 dark:hover:text-primary-500;
    }
    .label_primary_700{
        @apply text-primary-700 dark:text-primary-400;
    }
    .hover_label_primary_750{
        @apply hover:text-primary-750 dark:hover:hover:text-primary-500;
    }
    .label_primary_50{
        @apply text-primary-50 dark:text-gray-50;
    }
    .label_primary_600{
         @apply text-primary-600 dark:text-primary-400;
    }
    .icon_primary_700{
        @apply text-primary-700 dark:text-primary-500;
    }
    .label_gray_300{
        @apply text-gray-300 dark:text-gray-50;
    }
    .label_gray_400{
        @apply text-gray-400 dark:text-gray-50;
    }
    .label_gray_500{
        @apply text-gray-500 dark:text-gray-50;
    }
    .icon_gray_500{
        @apply text-gray-500 dark:text-gray-200;
    }
    .hover_label_gray_600{
        @apply hover:text-gray-600 dark:hover:text-white;
    }
    .icon-colors{
        @apply text-gray-700 dark:text-gray-50;
    }
    .label_gray_600{
        @apply text-gray-600 dark:text-gray-200;
    }
    .label_gray_700{
        @apply text-gray-700 dark:text-gray-50;
    }
    .label_gray_900{
        @apply text-gray-900 dark:text-gray-50;
    }
    /* label colors ends */

    /* border colors starts */
    .border_gray_200{
        @apply border-gray-200 dark:border-gray-500;
    }
    .border_primary_600{
        @apply border-primary-600 dark:border-primary-500;
    }
    .hover_border_primary_400{
        @apply hover:border-primary-400 dark:hover:border-primary-600;
    }
    /* border colors ends */
    /*custom color components ends */
}

@tailwind utilities;

@layer utilities {
    .number-fa {
        -moz-font-feature-settings: "ss01";
        -webkit-font-feature-settings: "ss01";
        font-feature-settings: "ss01";
    }

    .number-mono{
        -moz-font-feature-settings: "ss03";
        -webkit-font-feature-settings: "ss03";
        font-feature-settings: "ss03";
    }

    .box{
        display: -webkit-box;
    }
}



body{
    direction: rtl;
}

.custom-slider-mobile-arrows .swiper .swiper-button-prev, .custom-slider-mobile-arrows .swiper .swiper-button-next {
    @apply after:font-icomoon after:text-[#fff] after:text-2xl size-8 rounded bg-gray-900/20 dark:bg-white/20 shadow-md;
}

.custom-slider-mobile-arrows .swiper .swiper-button-prev {
    @apply  after:content-['\e903'];
}

.custom-slider-mobile-arrows .swiper .swiper-button-next{
    @apply after:content-['\e901'];
}

.min_h_screen{
    @apply min-h-[calc(100vh-61px)];
}
