@import url('vue3-toastify/dist/index.css');
@import url('../fonts/icons.css');

@tailwind base;

@layer base {
    * {
        @apply transition-all duration-300;
    }

    :root{
        /*gray colors*/
        --theme-gray-50: 249,250,251;
        --theme-gray-100: 243,244,246;
        --theme-gray-200: 229,231,235;
        --theme-gray-300: 209,213,219;
        --theme-gray-400: 156,163,175;
        --theme-gray-500: 107,114,128;
        --theme-gray-600: 75,85,99;
        --theme-gray-700: 55,65,81;
        --theme-gray-800: 31,42,55;
        --theme-gray-900: 17,25,40;

        /* blur colors */
        --theme-primary-50: 235,245,255;
        --theme-primary-100: 225,239,254;
        --theme-primary-200: 195,221,253;
        --theme-primary-300: 164,202,254;
        --theme-primary-400: 118,169,250;
        --theme-primary-500: 63,131,248;
        --theme-primary-600: 28,100,242;
        --theme-primary-700: 26,86,219;
        --theme-primary-800: 30,66,159;
        --theme-primary-900: 35,56,118;
    }
}

@tailwind components;

/* Font IRANSansX */
@layer components {
    /* @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 100;
        src: url('../fonts/woff/IRANSansX-Thin.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-Thin.woff2') format('woff2');
    } */

    /* @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 200;
        src: url('../fonts/woff/IRANSansX-UltraLight.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-UltraLight.woff2') format('woff2');
    } */

    /* @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 300;
        src: url('../fonts/woff/IRANSansX-Light.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-Light.woff2') format('woff2');
    } */

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: normal; /* font-normal -> font-weight: 400; */
        src: url('../fonts/woff/IRANSansX-Regular.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-Regular.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 500; /* font-medium -> font-weight: 500; */
        src: url('../fonts/woff/IRANSansX-Medium.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-Medium.woff2') format('woff2');
    }

    /* @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 600;
        src: url('../fonts/woff/IRANSansX-DemiBold.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-DemiBold.woff2') format('woff2');
    } */

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: bold;
        src: url('../fonts/woff/IRANSansX-Bold.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-Bold.woff2') format('woff2');
    }

    /* @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 800;
        src: url('../fonts/woff/IRANSansX-ExtraBold.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-ExtraBold.woff2') format('woff2');
    } */

    /* @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 900;
        src: url('../fonts/woff/IRANSansX-Black.woff') format('woff'),
        url('../fonts/woff2/IRANSansX-Black.woff2') format('woff2');
    } */
}

@layer components {
    .flex_center{
        @apply flex items-center justify-center;
    }

    /*custom color components starts */
    .bg_background_layout{
        @apply bg-gray-100 dark:bg-gray-800;
    }
    .bg_background_content{
        @apply bg-white dark:bg-gray-900;
    }
    .icon-colors{
        @apply text-gray-700 dark:text-gray-50;
    }
    .icon_gray_500{
        @apply text-gray-500 dark:text-gray-50;
    }
    .label_primary_600{
        @apply text-primary-600 dark:text-primary-400;
    }
    .bg_primary_100{
        @apply bg-primary-100 dark:bg-gray-700;
    }
    .label_gray_500{
        @apply text-gray-500 dark:text-gray-50;
    }
    .label_gray_600{
        @apply text-gray-600 dark:text-gray-200;
    }
    /*custom color components ends */
}

@tailwind utilities;

@layer utilities {
    .number-fa {
        -moz-font-feature-settings: "ss01";
        -webkit-font-feature-settings: "ss01";
        font-feature-settings: "ss01";
    }

    .number-mono{
        -moz-font-feature-settings: "ss03";
        -webkit-font-feature-settings: "ss03";
        font-feature-settings: "ss03";
    }
}

body{
    direction: rtl;
}

.custom-slider-mobile-arrows .swiper .swiper-button-prev, .custom-slider-mobile-arrows .swiper .swiper-button-next {
    @apply after:font-icomoon after:text-[#fff] after:text-2xl size-8 rounded bg-gray-900/20 dark:bg-white/20 shadow-md;
}

.custom-slider-mobile-arrows .swiper .swiper-button-prev {
    @apply  after:content-['\e903'];
}

.custom-slider-mobile-arrows .swiper .swiper-button-next{
    @apply after:content-['\e901'];
}

.min_h_screen{
    @apply min-h-[calc(100vh-61px)];
}
